@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spaceGroteskLight";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "spaceGroteskRegular";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "spaceGroteskMedium";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "spaceGroteskBold";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@layer base {
  :root {
    --background: 60 4% 4.9%; /* #0D0D0C */
    --foreground: 56 0% 33%; /* #878787 */
    --accent: 330, 75%, 26.67%; /* #771144 */
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: 331.22, 63.79%, 45.49%; /* #BE2A71*/
    --primary-foreground: 331.33, 63.13%, 35.1%; /* #922157 */
    --secondary: 333.19, 62.67%, 14.71%; /* #3D0E23 */
    --secondary-foreground: 328.24, 100%, 16.67%; /* #55002D */
    --muted: var(--foreground);
    --muted-foreground: var(--secondary);
    --destructive: 348, 83.33%, 47.06%; /* #DC143C */
    --destructive-foreground: 356.14, 83.47%, 52.55%; /* #EB212E  */
    --input: var(--primary);
    --ring: var(--primary);
    --radius: 0.5rem;
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

} */

@layer base {
  body {
    @apply bg-background font-spaceGroteskRegular text-divamecha;
  }
}

@layer directives {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
